/* 
=================================
Add Product
=================================
*/

.product_form{
  /* background-color: red; */
  width: 100%;
  padding: 1rem;
}
.product_form .row{
  text-align: center;
  /* background-color: #28a745; */
}

.product_form .row .form-controller{
  text-align: left;
  display: inline-block;
  /* background-color: blue; */
  margin-bottom: .5rem;
  width: 30rem;
  min-height: 8rem;
  max-height: 8rem;
}

.product_form .row>:last-child,
.product_form .row .notice{
  width: 78%;
}

.product_form .row .form-controller > label{
  display: block;
  font-size: 1.7rem;
  color: var(--color-dark-grey);
}

.product_form .row .form-controller > label::after{
  content: " * ";
  color: var(--color-primary);
}

.product_form .row .form-controller input:not([type='submit']),
.product_form .row .form-controller select{
  width: 20rem;
  min-height: 3rem;
  max-height: 3rem;
  padding: .5rem;
  border-radius: 2rem;
  border: .1rem solid var(--color-light-grey);
  outline: none;
  text-transform: none;
  font-family: inherit;
  transition: border .3s ease;
}

.product_form .row .form-controller .validate{
  display: inline-block;
  color: var(--color-danger);
  font-size: 1.2rem;
  visibility: hidden;
  height: 2rem;
  min-width: 20rem;
  width: 100%;
}

.product_form .row .form-controller .validate.show{
  visibility: visible;
  
}

.product_form .row .form-controller input.error,
.product_form .row .form-controller select.error{
  border: .1rem solid var(--color-danger);
}

.product_form .row .form-controller input,
.product_form .row .form-controller select{
  display: block;
  ;
}

.product_form .row .form-controller input:not([type='submit']):focus,
.product_form .row .form-controller select:focus{
  border: .1rem solid var(--color-secondary);
}

.product_form .row .form-controller input[type='submit']{
  margin-top: 1rem;
  background-color: var(--color-secondary);
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--color-white);
  padding: .5rem 1rem;
  font-size: 2rem;
  transition: all .3s ease;
}

.product_form .row .form-controller input[type='submit']:hover{
  opacity: .8;
}

.product_form .row .productOption{
  margin: 0;
  padding: 0;
  /* display: block; */
}
