
/* 
=================================
Prodict List
=================================
*/



/* lists */
.products .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.products .container > article{
  background-color: var(--color-secondary);
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  overflow: auto;
}

.products .container > article > input{
  width: 2rem;
  height: 2rem;
}

.products .container > article > .content ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color-white);
}

.products .container > article > .content ul li{
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
    text-align: center;
}